.banner {
    position: relative;
    background-image: url('../assets/moto.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* oscurece la imagen para que el texto resalte */
  z-index: 1;
}
  
.banner-contenido {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column; /* <<== Esto pone el contenido en columna */
  align-items: center;
  justify-content: center;
  gap: 1rem; /* espacio entre los elementos */
  padding: 1rem;
}
  
.banner h2 {
    font-size: 2.5rem;
    color: #cc4444;
}
  
.banner p {
    font-size: 1.2rem;
    color: #ccc;
}
  